body {
    font-family: 'Roboto Slab', serif;
}
.cat-info {
    display: flex;
    margin-top: 100px;
    gap: 50px;
}
.info {
    display: flex;
    flex-direction: column;
    width: 600px;
    /* align-items: start; */
    justify-content: start;
}
.cat-img {
    align-content: start;
}

.cat-name {
    text-align: center;
}
.temperament {
    font-size: larger;
    font-weight: 700;
}
.loader {
    opacity: 0;
}

.visible {
    opacity: 1;
}

/* .breed-select {
    di
} */